{% extends 'admin/base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/testEditor.min.css') }}">{% endblock %}
{% block title %}Редактор тестов{% endblock %}
{% block boxTitle %}Вопросы
    <button id="add-question-btn" class="btn btn-success"><i class="fa fa-plus"></i></button> {% endblock %}
{% block boxButtons %}
    {# <a href="{{ path('admin_variant_new', {tour:tour.id, test:test.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a> #}
{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/js/testEditor.js') }}"></script>
    <script >
    window.testEditor = new TestEditor();
</script>
{% endblock %}
{% block boxBody %}
    <div id="test-editor">
        <ul class="questions">
            {% for i,question in questions %}
                <li class="{% if i==0 %}active{% endif %}" data-question-id="{{ question.id }}">
                    <a href="#question_{{ question.id }}"
                       data-toggle="tab">{{ question.text|raw }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for i,question in questions %}
                <div class="tab tab-pane {% if i==0 %}active{% endif %}" id="question_{{ question.id }}"
                     data-question-id="{{ question.id }}">
                    <div class="question-head">
                        <div class="question-title">
                            <span>{{ question.text|raw }}</span>
                            <button class="btn btn-xs btn-default edit-question-title"><i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <div class="question-type">
                            <span>CheckBox</span>
                            <div class="material-switch pull-right">
                                <input class="edit-question-type" id="questionType_{{ question.id }}"
                                       name="questionType_{{ question.id }}"
                                       type="checkbox" {% if question.type == 'radio' %}checked{% endif %}/>
                                <label for="questionType_{{ question.id }}" class="label-default"></label>
                            </div>
                            <span>Radio</span>
                        </div>
                    </div>
                    <div class="question-options">
                        <div class="question-options-head">
                            Варианты ответа
                            <button class="btn btn-xs btn-success add-option"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="options">
                            <form action="" name="question_option_edit_correct">
                                {% for option in question.questionOptions %}
                                    <div>
                                    <label for="option_{{ option.id }}">
                                        <input type="{% if question.type == 'radio' %}radio{% else %}checkbox{% endif %}"
                                               value="{{ option.id }}" name="option"
                                               id="option_{{ option.id }}"
                                               data-url="{{ path("api_variant_question_option_edit_correct",
                                                   {'variant': variant.id, 'option': option.id, 'question': question.id}) }}"
                                               {% if option.isCorrect %}checked{% endif %}
                                        >
                                        <span>{{ option.text|raw }}</span>
                                    </label>
                                    <button class="btn btn-xs btn-default edit-option-title" data-url="{{ path('api_variant_question_option_edit_title',{'variant': variant.id, 'option': option.id, 'question': question.id}) }}"><i class="fa fa-edit"></i></button>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
    </div>


{% endblock %}
{% block contentFooter %}
    <form action="" id="testEditorForm" class="form hidden">
        <span class="close">X</span>
        <input type="hidden" name="variant" value="{{ variant.id }}">
        <input type="text" name="name">
        <button>Отправить</button>
    </form>
{% endblock %}