{% extends 'admin/base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/testEditor.min.css') }}">{% endblock %}
{% block title %}Редактор тестов{% endblock %}
{% block boxTitle %}Вопросы
    <button id="add-question-btn" class="btn btn-success"><i class="fa fa-plus"></i></button> {% endblock %}
{% block boxButtons %}
    {# <a href="{{ path('admin_variant_new', {tour:tour.id, test:test.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a> #}
{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/js/testEditor.js') }}"></script>
    <script >
    window.testEditor = new TestEditor();
</script>
{% endblock %}
{% block boxBody %}
    <div id="test-editor">
        <ul class="questions">
            {% for i,question in questions %}
                <li class="{% if i==0 %}active{% endif %}" data-question-id="{{ question.id }}">
                    <a href="#question_{{ question.id }}"
                       data-toggle="tab">{{ question.text|raw }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for i,question in questions %}
                <div class="tab tab-pane {% if i==0 %}active{% endif %}" id="question_{{ question.id }}" data-question-id="{{ question.id }}">
                    <div class="question-title">
                        <span>{{ question.text|raw }}</span> <button class="btn btn-xs btn-default edit-question-title"><i class="fa fa-edit"></i></button>
                    </div>
                    Варианты ответа <button class="btn btn-xs btn-success add-option"><i class="fa fa-plus"></i></button>
                    <hr>
                    <div class="options">
                        {% for option in question.questionOptions %}
                            <label for="option_{{ option.id }}">
                                <input type="radio" value="{{ option.id }}" name="option" id="option_{{ option.id }}">
                                {{ option.text|raw }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
    </div>


{% endblock %}
{% block contentFooter %}
    <form action="" id="testEditorForm" class="form hidden">
        <span class="close">X</span>
        <input type="hidden" name="variant" value="{{ variant.id }}">
        <input type="text" name="name">
        <button>Отправить</button>
    </form>
{% endblock %}