{% extends 'admin/base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/testEditor.min.css') }}">
{% endblock %}
{% block javascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block title %}Редактор тестов{% endblock %}

{% block content %}
    <div class="box-title">
        Вопросы {{ variant.test.variants.indexOf(variant)+1 }} варианта {{ variant.test.tour.tourIndex }} тура
        "{{ variant.test.tour.olympic.name }}"
        {% if variant.test.tour.publishedAt %}
            <div class="badge bg-red">Тур Опубликован</div>
        {% endif %}
    </div>
    <div id="root"></div>
{% endblock %}