{% extends 'admin/base.html.twig' %}

{% block title %}Тур{% endblock %}
{% block subtitle %}Изменение{% endblock %}
{% block boxTitle %}Изменение {{ tour.tourIndex }} тура "{{ tour.olympic.name }}"{% endblock %}

{% block boxBody %}
    {{ include('admin/tour/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a class="btn btn-default" href="{{ path('admin_tour_index') }}">Назад <i class="fa fa-undo"></i></a>

    {{ include('admin/tour/_delete_form.html.twig') }}
{% endblock %}
