{% extends 'admin/base.html.twig' %}

{% block title %}Туры{% endblock %}
{% block subtitle %}{% endblock %}
{% block boxTitle %}Список туров{% endblock %}
{% block boxButtons %}
{% endblock %}
{% block boxBody %}
    {% for olymp in olymps %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ olymp.name }}</h3>

                <div class="box-tools pull-right">
                    <a href="{{ path('admin_tour_new', {olymp:olymp.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Цена</th>
                        <th>Опубликован</th>
                        <th>Тесты</th>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i,tour in olymp.tours %}
                        <tr>
                            <td>{{ tour.tourIndex }}</td>
                            <td>{{ tour.price }}</td>
                            <td>
                                {% if tour.publishedAt %}
                                    <span>{{ tour.publishedAt|date('Y-m-d H:i:s') }}</span>
                                    <a class="btn-sm btn-danger" href="{{ path('admin_tour_publish_revert', {id:tour.id}) }}" title="Отменить публикацию"><i class="fa fa-undo"></i></a>
                                {% else %}
                                    <a href="{{ path('admin_tour_publish', {id:tour.id, p:app.request.get('p')}) }}">Опубликовать</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ path('admin_test_index', {tour:tour.id}) }}">Тесты</a></td>
                            <td>{{ tour.startedAt ? tour.startedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ tour.expiredAt ? tour.expiredAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('admin_tour_edit', {'id': tour.id}) }}" title="Изменить"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Туров нет</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    {% include "default/_pagination.html.twig" %}
{% endblock %}
