{% extends 'admin/base.html.twig' %}

{% block title %}Тесты{% endblock %}
{% block subtitle %}Список{% endblock %}
{% block boxTitle %}Список Тестов {{ tour.tourIndex }} тура "{{ tour.olymp.name }}"{% endblock %}
{% block boxButtons %}
    <a href="{{ path('admin_test_new', {'tour':tour.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></a>
{% endblock %}
{% block boxBody %}

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Язык Теста</th>
                <th>Варианты</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for i,test in tests %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ test.language.name }}</td>
                <td><a href="{{ path('admin_variant_index', {test:test.id, tour:test.tour.id}) }}">Варианты</a></td>
                <td class="btn-group">
{#                    <a href="{{ path('admin_test_show', {'id': test.id}) }}">show</a>#}
                    <a class="btn btn-sm btn-primary" href="{{ path('admin_test_edit', {'id': test.id, 'tour':tour.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Тесты не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
