{% extends 'base.html.twig' %}

{% block main_class %}wrapper{% endblock %}
{% block title %}Редактор тестов{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/js/test.js') }}"></script>
    <script>window.test = new Test({{ userTest.id }}, `{{ csrf_token('answer' ~ userTest.id) }}`);</script>
{% endblock %}
{% block content %}
    <div class="test-head">
        <div class="about">
            {% set tour = userTest.variant.test.tour %}
            <div class="olymp-name title">
                Олимпиада: <span>{{ tour.olymp.name }}</span>
            </div>
            <div class="tour-name title">
                {% set tour_index = tour.olymp.tours.indexOf(tour)+1 %}
                Тур: <span>{{ tour_index }}</span>
            </div>
            <div class="variant-index title">
                {% set variant_index = userTest.variant.test.variants.indexOf(userTest.variant)+1 %}
                Вариант: <span>{{ variant_index }}</span>
            </div>
        </div>
        <div class="time">
            <div class="expired">
                Осталось времени: <span>{{ tour.expiredAt|date('Y-m-d H:i:s') }}</span>
            </div>
            <div class="saved">
                Результаты сохранены: <span>{{ date(userTest.resultSavedAt).timestamp }}</span>
            </div>
        </div>
    </div>
    <div id="test">
        <ul class="questions">
            {% for i,question in userTest.variant.variantQuestions %}
                <li class="{% if i==0 %}active{% endif %}" data-question-id="{{ question.id }}" data-target="question-{{ i }}">
                    <span>{{ i+1 }}</span>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for i,question in userTest.variant.variantQuestions %}
                <div class="tab tab-pane {% if i==0 %}active{% endif %}" id="question_{{ question.id }}"
                     data-question-id="{{ question.id }}"
                     data-content="question-{{ i }}"
                >
                    <div class="question-head">
                        <div class="question-title">
                            <span>{{ question.text|raw }}</span>
                        </div>
                    </div>
                    <div class="question-options">
                        <div class="question-options-head">
                            Варианты ответа

                        </div>
                        <div class="options">
                            <form action="" name="answer">
                                <input type="hidden" name="question_id" value="{{ question.id }}">
                                {% for option in question.questionOptions %}
                                    <div>
                                        <label for="option_{{ option.id }}">
                                            <input type="{% if question.type == 'radio' %}radio{% else %}checkbox{% endif %}"
                                                   value="{{ option.id }}" name="option"
                                                   id="option_{{ option.id }}"
                                                   {% if answers[question.id] is defined and  option.id in answers[question.id] %}checked{% endif %}
                                            >
                                            <span>{{ option.text|raw }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <button class="save">Сохранить результаты</button>
{% endblock %}