{% extends 'base.html.twig' %}
{% block main_class %}title{% endblock %}
{% block header_class %}title{% endblock %}
{% block content %}
    <section class="main-title">
        <div class="main-title-wrapper">
            <h1>Портал для тестирования</h1>
            <h2>Портал для тестирования на базе Усть-Каменогорского высшего политехнического колледжа</h2>
        </div>
    </section>
    <section class="olymps">
        {% for olymp in olymps %}
            <div class="olymp">
                <div class="olymp-title">
                    {{ olymp.name }}
                </div>
                <div class="tours">
                    <table>
                        <tr>
                            <th>Тур</th>
                            <th>Начало</th>
{#                            <th>Конец</th>#}
                            <th>Длительность</th>
                        </tr>
                        {% for i,tour in olymp.tours %}
                            <tr>
                                <td>{{ i+1 }}</td>
                                <td>{{ tour.startedAt|date('H:i:s Y-m-d') }}</td>
{#                                <td>{{ tour.expiredAt|date('H:i:s Y-m-d') }}</td>#}
                                <td>{{ (date(tour.expiredAt).timestamp-date(tour.startedAt).timestamp) / 60 }} минут</td>
{#                                    -date(tour.expiredAt)|date('H:i:s') }}</td>#}
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}