<li class="olymp">
    <div class="olymp-title">
        {{ olymp.name }}
    </div>
    <div class="tours">
        <table>
            <tr>
                <th>Тур</th>
                <th>Начало</th>
                <th>Длительность</th>
                <th>Статус</th>
                <th></th>
            </tr>
            {% for i,tour in olymp.tours %}
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ tour.startedAt|date('d.m.Y H:i') }}</td>
                    <td>
                        {{ (date(tour.expiredAt).timestamp-date(tour.startedAt).timestamp) / 60 }}
                        минут
                    </td>{% set canSignUp = false %}
                    <td>{% if date() > tour.expiredAt %}
                            Завершен
                        {% elseif tour.expiredAt < date() and tour.startedAt > date() %}
                        {% else %}
                            {% set canSignUp = true %}
                            Ожидает начала
                        {% endif %}
                    </td>
                    <td>{% if canSignUp %}<a class="signup" href="{{ path('olymp_tour_signup', {tour:tour.id, olymp:tour.olymp.id}) }}">Записаться</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
</li>