{% extends 'base.html.twig' %}

{% block page_title %}Личный кабинет{% endblock %}
{% block main_class %}user-cabinet main-center{% endblock %}
{% block content %}
    <div class="cabinet">
        <div class="user-info">
            <div class="avatar">
                {% if user.avatar %}
                    <img src="{{ user.avatar.path }}" alt="">
                {% else %}
                <img src="{{ asset('assets/img/no_img.jpg') }}" alt="">
                {% endif %}
            </div>
            <div class="name">
                <span>{{ user.name }}</span>
                <span>{{ user.surname }}</span>
            </div>
            <div class="mail">
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </div>
            <div class="study">
                <span class="label">Место учебы:</span>
                <span>{{ user.studyPlace }}</span>
            </div>
            <div class="live">
                <span class="label">Класс:</span>
                <span>{{ user.class }}</span>
            </div>
            <div class="edit">
                <a href="{{ path('user_edit') }}">Изменить</a>
            </div>
        </div>
        <div class="user-stat">
            <div class="statistics">

            </div>
            <div class="olympics">
                <div class="title">
                    Список олимпиад
                </div>
                {% for olympic in olympics %}
                    <div class="olympic">
                        <div class="olympic-title">{{ olympic.name }}</div>
                        <div class="tours">
                            <table>
                                <tr>
                                    <th>Тур</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                {% for tour in olympic.tours %}
                                    {% set userTest = null %}
                                    {% for ut in user.userTests %}
                                        {% if ut.variant.test.tour.id == tour.id %}
                                            {% set userTest = ut %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if userTest %}
                                        <tr>
                                            <td>{{ tour.tourIndex }}</td>
                                            <td>
                                                {% if userTest.status == 0 %}
                                                    Ожидает оплаты
                                                {% elseif userTest.status == 1 %}
                                                    Оплачен
                                                {% elseif userTest.status == 2 %}
                                                    Запущен
                                                {% elseif userTest.status == 3 %}
                                                    Ожидает конца тура
                                                {% elseif userTest.status == 4 %}
                                                    Завершен
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if userTest.status == 2 %}
                                                    <a href="{{ path('test_index', {test:userTest.id}) }}">Войти в редактор</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
