{% extends 'base.html.twig' %}

{% block page_title %}Личный кабинет{% endblock %}
{% block main_class %}user-cabinet{% endblock %}
{% block content %}
    <div class="cabinet">
        <div class="user-info">
            <div class="avatar">
                <img src="{{ asset('assets/img/no_img.jpg') }}" alt="">
            </div>
            <div class="mail">
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </div>
        </div>
        <div class="user-stat">
            <div class="statistics">

            </div>
            <div class="olymps">
                <div class="title">
                    Список олимпиад
                </div>
                {% for olymp in olymps %}
                    <div class="olymp">
                        <div class="olymp-title">{{ olymp.name }}</div>
                        <div class="tours">
                            <table>
                                <tr>
                                    <th>Тур</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                {% for tour in olymp.tours %}
                                    {% set tour_index = tour.olymp.tours.indexOf(tour)+1 %}
                                    {% set userTest = null %}
                                    {% for ut in user.userTests %}
                                        {% if ut.variant.test.tour.id == tour.id %}
                                            {% set userTest = ut %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if userTest %}
                                        <tr>
                                            <td>{{ tour_index }}</td>
                                            <td>
                                                {% if userTest.status == 'waiting_pay' %}
                                                    Ожидает оплаты
                                                {% elseif userTest.status == 'paid' %}
                                                    Оплачен
                                                {% elseif userTest.status == 'started' %}
                                                    Запущен
                                                {% elseif userTest.status == 'waiting_end' %}
                                                    Ожидает конца тура
                                                {% elseif userTest.status == 'finished' %}
                                                    Завершен
                                                {% endif %}
                                            </td>
                                            <td><a href="{{ path('test_index', {test:userTest.id}) }}">Начать</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
